
RewriteEngine On

# Redirects root url to index.php file in public folder
RewriteRule ^$ Public/index.php [L]
RewriteRule ^index.php$ Public/index.php [L]
RewriteRule ^login.php$ Resources/Views/login.php [L] 
RewriteRule ^register.php$ Resources/Views/register.php [L] 
RewriteRule ^products.php$ Resources/Views/Customer/main.php [L] 
RewriteRule ^product-detail.php$ Resources/Views/Customer/main.php [L] 
RewriteRule ^artist-detail.php$ Resources/Views/Customer/main.php [L] 
RewriteRule ^products.php$ Resources/Views/Customer/main.php [L] 
RewriteRule ^artist-profile.php$ Resources/Views/Customer/main.php [L] 

# if request is for a file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/[^/]+/[^/]+\.php$
RewriteRule ^(.*)$ Resources/Views/Admin/main.php [L]
